# Telegram Bot Settings
TELEGRAM_BOT_TOKEN=8777184371:AAF8qi96Lzky3pCs6Unzapgt51bKZUFV6JU
TELEGRAM_CHAT_ID_1=535013845
TELEGRAM_CHAT_ID_2=386813053

# Site Settings
HOTWHEELS_URL=https://creations.mattel.com/en-ch/collections/hot-wheels-collectors
CHECK_INTERVAL=60

# Database
DB_PATH=./data/hotwheels.db

# Logging
LOG_LEVEL=INFO